:root {
    // GENERIC COLOR PALETTE!
    --generic-white: #FFFFFF;
    --generic-black: #000000;
    --primary-color: #9A79F5;
    --surface-color: #0f0f0f;
    --secondary-color: #242424;
    --tertiary-color: #ffffff;
  
    --primary-font: 'Archivo', sans-serif;
    --generic-font: 'Archivo', sans-serif;
}