@import "_footer.scss";

body {
    display: flex;
    flex-direction: column;

    #hero {
        position: relative;

        #hero-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100vh;
            
            h1 {
                font-size: 52px;
                font-weight: 600;
                color: var(--primary-color);
                margin-top: 165px;
                letter-spacing: 4px;
                
                span {
                    font-weight: 300;
                    color: var(--primary-text-color);
                }
            }
            
            h2 {
                margin-top: 24px;
                font-size: 60px;
                font-weight: 900;
                color: var(--primary-text-color);
                letter-spacing: 4px;
            }
            
            h3 {
                font-weight: 300;
                font-size: 21px;
                margin-top: 24px;
                letter-spacing: 4px;
            }
        }

        #social-container {
            position: absolute;
            top: 50%;
            right: 56px;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            gap: 18px;

            .social-item {
                width: 48px;
                background: var(--generic-white);
                height: 48px;
                border-radius: 6px;
                box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 28px;
                    height: 28px;
                }
            }
        }

    }

    #about {
        #about-container {
            display: flex;
            width: 100%;
            max-width: 1248px;
            height: 800px;
            margin: auto;
            gap: 68px;

            #image-container  {
                width: 588px;
                min-width: 588px;
                height: 588px;
                background-color: var(--primary-container-color);
                border-radius: 8px;
            }

            #about-text-container {
                width: 588px;
                display: flex;
                flex-direction: column;
                margin-top: 178px;
                color: var(--primary-text-color);

                h1 {
                    font-size: 30px;
                    font-weight: 600;
                    
                    span {
                        color: var(--primary-color);
                    }
                }

                h2 {
                    margin-top: 8px;
                    font-size: 54px;
                    font-weight: 600;
                    
                    span {
                        color: var(--primary-color);
                    }
                }

                h3 {
                    margin-top: 36px;
                    font-size: 46px;
                    font-weight: 600;
                    max-width: 80%;
                }

                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-top: 12px;
                    line-height: 1.4;
                    letter-spacing: 1px;
                }

                button {
                    margin-top: 24px;
                    width: 148px;
                    height: 40px;
                    background-color: var(--primary-color);
                    border-radius: 2px;
                    border: none;
                    color: var(--generic-white);
                    font-size: 14px;
                }
            }
        }
    }

    #contact-me {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            z-index: 1;
        }

        #contact-me-container {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 50%;
            width: 100%;
            height: 200px;
            max-width: 1248px;
            background: pink;
            margin: auto;
            transform: translateX(-50%);
        }
    }
}