@import "_footer.scss";
@import "_contact_me.scss";

body {
    display: flex;
    flex-direction: column;

    #hero {
        position: relative;

        #hero-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            max-width: 1200px;
            height: 100vh;
            margin: auto;
            justify-content: center;

            h2 {
                font-size: 36px;
                font-weight: 600;
                letter-spacing: 4px;
            }

            h1 {
                margin-top: 12px;
                font-size: 60px;
                font-weight: 600;
                letter-spacing: 4px;
                
                span {
                    font-weight: 300;
                    color: var(--primary-color);
                }
            }
            
            p {
                font-weight: 300;
                font-size: 14px;
                margin-top: 18px;
                letter-spacing: 4px;
                line-height: 1.6;
                max-width: 572px;
                margin-bottom: 24px;
            }

            .btns {
                display: flex;
                gap: 24px;
            }
        }

        #hero-bg {
            position: absolute;
            top: 56px;
            right: 124px;
            height: 800px;
            object-fit: contain;
        }

    }

    #about {
        #about-container {
            display: flex;
            width: 100%;
            max-width: 1248px;
            height: 800px;
            margin: auto;
            gap: 68px;

            #image-container  {
                width: 588px;
                min-width: 588px;
                height: 588px;
                background-color: var(--primary-container-color);
                border-radius: 8px;
            }

            #about-text-container {
                width: 588px;
                display: flex;
                flex-direction: column;
                margin-top: 178px;
                color: var(--primary-text-color);

                h1 {
                    font-size: 30px;
                    font-weight: 600;
                    
                    span {
                        color: var(--primary-color);
                    }
                }

                h2 {
                    margin-top: 8px;
                    font-size: 54px;
                    font-weight: 600;
                    
                    span {
                        color: var(--primary-color);
                    }
                }

                h3 {
                    margin-top: 36px;
                    font-size: 46px;
                    font-weight: 600;
                    max-width: 80%;
                }

                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-top: 12px;
                    line-height: 1.4;
                    letter-spacing: 1px;
                }

                button {
                    margin-top: 24px;
                    width: 148px;
                    height: 40px;
                    background-color: var(--primary-color);
                    border-radius: 2px;
                    border: none;
                    color: var(--generic-white);
                    font-size: 14px;
                }
            }
        }
    }

    #documentations {
        width: 100%;
        #documentations-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1248px;
            margin: auto;
            margin-bottom: 84px;

            h2 {
                font-size: 42px;
                font-weight: 600;
                color: var(--primary-text-color);
                text-align: center;
                margin-bottom: 92px;
            }

            .doc-item-container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                row-gap: 36px;
                column-gap: 24px;

                .doc-item {
                    width: calc((100% - 48px) / 3 - 48px);
                    overflow: hidden;
                    box-shadow: rgba($color: #030303, $alpha: 0.15) 0px 3px 8px;
                    cursor: pointer;
                    border-radius: 6px;
                    padding: 36px 24px 24px 24px;

                    .title {
                        font-size: 24px;
                        font-weight: 600;
                        color: var(--primary-text-color);
                    }

                    .tags-container {
                        display: flex;
                        gap: 12px;
                        margin-top: 24px;
                        margin-bottom: 18px;

                        .tag {
                            font-size: 18px;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid rgb(16, 171, 16);
                            border-radius: 4px;
                            color: rgb(16, 171, 16);
                            padding: 4px 12px;
                        }
                    }

                    .description {
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--primary-text-color);
                        line-height: 1.5;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        line-clamp: 3;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        margin-bottom: 24px;
                    }

                    .actions {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        img {
                            width: 20px;
                            height: 20px;
                        }

                        .info {
                            display: flex;
                            align-items: center;
                            color: var(--primary-text-color);
                            font-size: 16px;
                            font-weight: 400;

                            .like-count {
                                margin-left: 8px;
                                margin-right: 24px;
                            }

                            .view-count {
                                margin-left: 8px;
                            }
                        }

                        .action-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 8px;
                            cursor: pointer;
                            p {
                                color: var(--primary-color);
                                font-weight: 600;
                            }
                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    } 
                }
            }

            .browse-all-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-color);
                height: 40px;
                width: 164px;
                border-radius: 4px;
                cursor: pointer;
                margin-top: 60px;

                p {
                    font-size: 19px;
                    font-weight: 400;
                    color: var(--generic-white)
                }
            }
        }
    }
}