footer {
  width: 100%;
  background-color: var(--secondary-bg-color);
}
footer #footer-container {
  max-width: 1248px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 64px;
}
footer #footer-container img {
  width: 80px;
  height: 80px;
}
footer #footer-container h1 {
  font-weight: 600;
  font-size: 42px;
  color: var(--generic-white);
  margin-top: 24px;
  margin-bottom: 48px;
}
footer #footer-container h1 span {
  color: var(--primary-color);
}
footer #footer-container .footer-info {
  border-top: 1px solid var(--primary-container-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer #footer-container .footer-info .footer-items-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 156px;
}
footer #footer-container .footer-info .footer-items-containers .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer #footer-container .footer-info .footer-items-containers .container h2 {
  font-size: 22px;
  color: var(--generic-white);
  font-weight: 600;
  margin-bottom: 36px;
}
footer #footer-container .footer-info .footer-items-containers .container p {
  color: #BBBCBD;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 18px;
}
footer #footer-container .footer-info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 24px;
}
footer #footer-container .footer-info .contact .email {
  color: #BBBCBD;
  font-size: 22px;
}
footer #footer-container .footer-info .contact #social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
footer #footer-container .footer-info .contact #social-container .social-item {
  width: 48px;
  background: var(--generic-white);
  height: 48px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer #footer-container .footer-info .contact #social-container .social-item img {
  width: 28px;
  height: 28px;
}
footer #footer-container .copyright {
  font-size: 16px;
  color: var(--generic-white);
  margin-top: 156px;
  margin-bottom: 72px;
  text-align: center;
  font-weight: 300;
}

#contact-me {
  width: 100%;
  height: 964px;
  position: relative;
}
#contact-me img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}
#contact-me #contact-me-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1248px;
  margin: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#contact-me #contact-me-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 8px;
}
#contact-me #contact-me-container .header span {
  height: 2px;
  width: 164px;
  background-color: var(--primary-color);
  margin-bottom: 5px;
}
#contact-me #contact-me-container .header h1 {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 500;
}
#contact-me #contact-me-container h2 {
  font-size: 49px;
  font-weight: 600;
  margin-top: 96px;
  margin-bottom: 24px;
  color: var(--primary-text-color);
}
#contact-me #contact-me-container > p {
  margin-top: 24px;
  font-size: 16px;
}
#contact-me #contact-me-container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 594px;
}
#contact-me #contact-me-container .input-container label {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
  margin-top: 36px;
  margin-bottom: 4px;
}
#contact-me #contact-me-container .input-container input {
  height: 40px;
  border-bottom: 1px solid var(--secondary-bg-color);
  background-color: transparent;
}
#contact-me #contact-me-container .input-container textarea {
  height: 200px;
  margin-top: 36px;
  resize: none;
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-bg-color);
}
#contact-me #contact-me-container .input-container textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .input-container textarea::-moz-placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .input-container textarea:-ms-input-placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .input-container textarea::-ms-input-placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .input-container textarea::placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .send-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-color);
  height: 40px;
  width: 164px;
  gap: 12px;
  border-radius: 4px;
  margin-top: 60px;
  cursor: pointer;
}
#contact-me #contact-me-container .send-btn p {
  font-size: 19px;
  font-weight: 400;
  color: var(--generic-white);
}
#contact-me #contact-me-container .send-btn img {
  width: 24px;
  height: 24px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body #hero {
  position: relative;
}
body #hero #hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body #hero #hero-container h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 4px;
}
body #hero #hero-container h1 {
  margin-top: 12px;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 4px;
}
body #hero #hero-container h1 span {
  font-weight: 300;
  color: var(--primary-color);
}
body #hero #hero-container p {
  font-weight: 300;
  font-size: 14px;
  margin-top: 18px;
  letter-spacing: 2px;
  line-height: 1.6;
  max-width: 572px;
  margin-bottom: 24px;
}
body #hero #hero-container .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
body #hero #hero-bg {
  position: absolute;
  top: 56px;
  right: 124px;
  height: 800px;
  -o-object-fit: contain;
     object-fit: contain;
}
body #about #about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1248px;
  height: 800px;
  margin: auto;
  gap: 68px;
}
body #about #about-container #image-container {
  width: 588px;
  min-width: 588px;
  height: 588px;
  background-color: var(--primary-container-color);
  border-radius: 8px;
}
body #about #about-container #about-text-container {
  width: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 178px;
  color: var(--primary-text-color);
}
body #about #about-container #about-text-container h1 {
  font-size: 30px;
  font-weight: 600;
}
body #about #about-container #about-text-container h1 span {
  color: var(--primary-color);
}
body #about #about-container #about-text-container h2 {
  margin-top: 8px;
  font-size: 54px;
  font-weight: 600;
}
body #about #about-container #about-text-container h2 span {
  color: var(--primary-color);
}
body #about #about-container #about-text-container h3 {
  margin-top: 36px;
  font-size: 46px;
  font-weight: 600;
  max-width: 80%;
}
body #about #about-container #about-text-container p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
  line-height: 1.4;
  letter-spacing: 1px;
}
body #about #about-container #about-text-container button {
  margin-top: 24px;
  width: 148px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 2px;
  border: none;
  color: var(--generic-white);
  font-size: 14px;
}
body #documentations {
  width: 100%;
}
body #documentations #documentations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1248px;
  margin: auto;
  margin-bottom: 84px;
}
body #documentations #documentations-container h2 {
  font-size: 42px;
  font-weight: 600;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 92px;
}
body #documentations #documentations-container .doc-item-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 36px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
body #documentations #documentations-container .doc-item-container .doc-item {
  width: calc((100% - 48px) / 3 - 48px);
  overflow: hidden;
  -webkit-box-shadow: rgba(3, 3, 3, 0.15) 0px 3px 8px;
          box-shadow: rgba(3, 3, 3, 0.15) 0px 3px 8px;
  cursor: pointer;
  border-radius: 6px;
  padding: 36px 24px 24px 24px;
}
body #documentations #documentations-container .doc-item-container .doc-item .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-text-color);
}
body #documentations #documentations-container .doc-item-container .doc-item .tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 18px;
}
body #documentations #documentations-container .doc-item-container .doc-item .tags-container .tag {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgb(16, 171, 16);
  border-radius: 4px;
  color: rgb(16, 171, 16);
  padding: 4px 12px;
}
body #documentations #documentations-container .doc-item-container .doc-item .description {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 24px;
}
body #documentations #documentations-container .doc-item-container .doc-item .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body #documentations #documentations-container .doc-item-container .doc-item .actions img {
  width: 20px;
  height: 20px;
}
body #documentations #documentations-container .doc-item-container .doc-item .actions .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
}
body #documentations #documentations-container .doc-item-container .doc-item .actions .info .like-count {
  margin-left: 8px;
  margin-right: 24px;
}
body #documentations #documentations-container .doc-item-container .doc-item .actions .info .view-count {
  margin-left: 8px;
}
body #documentations #documentations-container .doc-item-container .doc-item .actions .action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  cursor: pointer;
}
body #documentations #documentations-container .doc-item-container .doc-item .actions .action-btn p {
  color: var(--primary-color);
  font-weight: 600;
}
body #documentations #documentations-container .doc-item-container .doc-item .actions .action-btn img {
  width: 16px;
  height: 16px;
}
body #documentations #documentations-container .browse-all-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-color);
  height: 40px;
  width: 164px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 60px;
}
body #documentations #documentations-container .browse-all-btn p {
  font-size: 19px;
  font-weight: 400;
  color: var(--generic-white);
}