footer {
  width: 100%;
  background-color: var(--secondary-bg-color);
}
footer #footer-container {
  max-width: 1248px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 64px;
}
footer #footer-container img {
  width: 80px;
  height: 80px;
}
footer #footer-container h1 {
  font-weight: 600;
  font-size: 42px;
  color: var(--generic-white);
  margin-top: 24px;
  margin-bottom: 48px;
}
footer #footer-container h1 span {
  color: var(--primary-color);
}
footer #footer-container .footer-info {
  border-top: 1px solid var(--primary-container-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer #footer-container .footer-info .footer-items-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 156px;
}
footer #footer-container .footer-info .footer-items-containers .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer #footer-container .footer-info .footer-items-containers .container h2 {
  font-size: 22px;
  color: var(--generic-white);
  font-weight: 600;
  margin-bottom: 36px;
}
footer #footer-container .footer-info .footer-items-containers .container p {
  color: #BBBCBD;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 18px;
}
footer #footer-container .footer-info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 24px;
}
footer #footer-container .footer-info .contact .email {
  color: #BBBCBD;
  font-size: 22px;
}
footer #footer-container .footer-info .contact #social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
footer #footer-container .footer-info .contact #social-container .social-item {
  width: 48px;
  background: var(--generic-white);
  height: 48px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer #footer-container .footer-info .contact #social-container .social-item img {
  width: 28px;
  height: 28px;
}
footer #footer-container .copyright {
  font-size: 16px;
  color: var(--generic-white);
  margin-top: 156px;
  margin-bottom: 72px;
  text-align: center;
  font-weight: 300;
}

#contact-me {
  width: 100%;
  height: 964px;
  position: relative;
}
#contact-me img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}
#contact-me #contact-me-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1248px;
  margin: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#contact-me #contact-me-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 8px;
}
#contact-me #contact-me-container .header span {
  height: 2px;
  width: 164px;
  background-color: var(--primary-color);
  margin-bottom: 5px;
}
#contact-me #contact-me-container .header h1 {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 500;
}
#contact-me #contact-me-container h2 {
  font-size: 49px;
  font-weight: 600;
  margin-top: 96px;
  margin-bottom: 24px;
  color: var(--primary-text-color);
}
#contact-me #contact-me-container > p {
  margin-top: 24px;
  font-size: 16px;
}
#contact-me #contact-me-container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 594px;
}
#contact-me #contact-me-container .input-container label {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
  margin-top: 36px;
  margin-bottom: 4px;
}
#contact-me #contact-me-container .input-container input {
  height: 40px;
  border-bottom: 1px solid var(--secondary-bg-color);
  background-color: transparent;
}
#contact-me #contact-me-container .input-container textarea {
  height: 200px;
  margin-top: 36px;
  resize: none;
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-bg-color);
}
#contact-me #contact-me-container .input-container textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .input-container textarea::-moz-placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .input-container textarea:-ms-input-placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .input-container textarea::-ms-input-placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .input-container textarea::placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
#contact-me #contact-me-container .send-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-color);
  height: 40px;
  width: 164px;
  gap: 12px;
  border-radius: 4px;
  margin-top: 60px;
  cursor: pointer;
}
#contact-me #contact-me-container .send-btn p {
  font-size: 19px;
  font-weight: 400;
  color: var(--generic-white);
}
#contact-me #contact-me-container .send-btn img {
  width: 24px;
  height: 24px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body carousel-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
body carousel-wrapper #hero {
  position: relative;
}
body carousel-wrapper #hero #hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body carousel-wrapper #hero #hero-container h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 4px;
}
body carousel-wrapper #hero #hero-container h1 {
  margin-top: 12px;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 4px;
}
body carousel-wrapper #hero #hero-container h1 span {
  font-weight: 300;
  color: var(--primary-color);
}
body carousel-wrapper #hero #hero-container p {
  font-weight: 300;
  font-size: 14px;
  margin-top: 18px;
  letter-spacing: 2px;
  line-height: 1.6;
  max-width: 572px;
  margin-bottom: 24px;
}
body carousel-wrapper #hero #hero-container .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 104px;
}
body carousel-wrapper #hero #hero-bg {
  position: absolute;
  top: 36px;
  right: 124px;
  height: 800px;
  -o-object-fit: contain;
     object-fit: contain;
}
body carousel-wrapper #documentations {
  width: 100%;
  height: 100vh;
}
body carousel-wrapper #documentations #documentations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1248px;
  margin: auto;
  margin-top: 72px;
}
body carousel-wrapper #documentations #documentations-container h2 {
  font-size: 42px;
  font-weight: 600;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 72px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 36px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item {
  width: calc((100% - 48px - 6px) / 3 - 48px);
  overflow: hidden;
  -webkit-box-shadow: rgba(3, 3, 3, 0.05) 0px 3px 8px;
          box-shadow: rgba(3, 3, 3, 0.05) 0px 3px 8px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border-radius: 6px;
  padding: 36px 24px 24px 24px;
  background-color: var(--container-bg);
  border: 1px solid var(--container-border);
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-text-color);
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 18px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .tags-container .tag {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgb(16, 171, 16);
  border-radius: 4px;
  color: rgb(16, 171, 16);
  padding: 4px 12px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .description {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-text-color);
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 24px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .actions img {
  width: 20px;
  height: 20px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .actions .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .actions .info .like-count {
  margin-left: 8px;
  margin-right: 24px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .actions .info .view-count {
  margin-left: 8px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .actions .action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  cursor: pointer;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .actions .action-btn p {
  color: var(--primary-color);
  font-weight: 600;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item .actions .action-btn img {
  width: 16px;
  height: 16px;
}
body carousel-wrapper #documentations #documentations-container .doc-item-container .doc-item:hover {
  -webkit-box-shadow: rgba(3, 3, 3, 0.25) 0px 3px 8px;
          box-shadow: rgba(3, 3, 3, 0.25) 0px 3px 8px;
}
body carousel-wrapper bottom-navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  position: absolute;
  bottom: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  gap: 24px;
  opacity: 0;
  -webkit-transition: all 272ms ease-in-out;
  transition: all 272ms ease-in-out;
}
body carousel-wrapper bottom-navigator .item {
  border-radius: 8px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: var(--surface-color);
  border: 1px solid var(--container-border);
  gap: 12px;
  overflow: hidden;
  -webkit-transition: all 272ms ease-in-out;
  transition: all 272ms ease-in-out;
}
body carousel-wrapper bottom-navigator .item .img-wrapper {
  min-width: 56px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body carousel-wrapper bottom-navigator .item .img-wrapper img {
  width: 20px;
  height: 20px;
}
body carousel-wrapper bottom-navigator .item p {
  font-size: 14px;
  font-weight: 300;
  color: transparent;
  -webkit-transition: all 272ms ease-in-out;
  transition: all 272ms ease-in-out;
}
body carousel-wrapper bottom-navigator .item.selected {
  border: 1px solid var(--primary-color);
  -webkit-box-shadow: 0px 4px 16px rgba(83, 187, 144, 0.1490196078);
          box-shadow: 0px 4px 16px rgba(83, 187, 144, 0.1490196078);
}
body carousel-wrapper bottom-navigator .item.selected p {
  color: var(--primary-text-color);
}
body carousel-wrapper bottom-navigator .item.selected .img-wrapper {
  min-width: 38px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}