<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "common.html" %}

    <title>Sabbir Hassan | Home</title>

    <link rel="stylesheet" href="/assets/css/home.css">
</head>

<body>
    <section id="hero">
        <img id="hero-bg" src="/assets/image/hero_bg.png" alt="hero_bg">
        <div id="hero-container">
            <h2>Hi, I’m</h2>
            <h1>Sabbir <span>Hassan</span></h1>
            <p>Hello, I’m Sabbir Hassan, a self-taught developer and designer. I began my journey as a developer six
                years ago. It’s a pleasure to meet you,</p>
            <div class="btns">
                <button class="primary-btn-1">Contact Me</button>
                <button class="primary-btn-2">Download CV</button>
            </div>
        </div>
    </section>
    <section id="about">
        <div id="about-container">
            <div id="image-container"></div>
            <div id="about-text-container">
                <h1><span>Hi</span> there, I'm</h1>
                <h2>Sabbir <span>Hassan</span></h2>
                <h3>I am a self taught developer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nisi iste asperiores reprehenderit
                    assumenda rem recusandae nam, omnis voluptates necessitatibus, vitae quisquam voluptatum nobis
                    quidem, perferendis sunt praesentium natus vel consequuntur quam autem expedita dicta id? Natus
                    reprehenderit sapiente porro! Veniam nesciunt voluptatibus consequatur quasi molestias eligendi eius
                    aspernatur alias.</p>
                <button>Read More</button>
            </div>
        </div>
    </section>
    <section id="documentations">
        <div id="documentations-container">
            <h2>Blogs and Documentations</h2>
            <div class="doc-item-container">
                <div class="doc-item">
                    <p class="title">Actix Template</p>
                    <div class="tags-container">
                        <p class="tag">Rust</p>
                    </div>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
                        consequuntur deleniti, blanditiis praesentium totam officiis aliquid, est recusandae veniam
                        laboriosam facere reiciendis consequatur officia expedita veritatis? Modi aut consectetur quae
                        consequuntur nihil voluptatum maiores rerum atque voluptas! Deleniti quasi esse blanditiis
                        consequatur facere recusandae? Iusto hic voluptas repellat incidunt mollitia.</p>
                    <div class="actions">
                        <div class="info">
                            <img src="/assets/icon/heart.svg" alt="Heart" class="heart-icon">
                            <p class="like-count">2k</p>
                            <img src="/assets/icon/eye.svg" alt="Heart" class="heart-icon">
                            <p class="view-count">4.3k</p>
                        </div>
                        <div class="action-btn">
                            <p>Read</p>
                            <img src="/assets/icon/arrow_right.svg" alt="Arrow">
                        </div>
                    </div>
                </div>
                <div class="doc-item">
                    <p class="title">Actix Template</p>
                    <div class="tags-container">
                        <p class="tag">Rust</p>
                    </div>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
                        consequuntur deleniti, blanditiis praesentium totam officiis aliquid, est recusandae veniam
                        laboriosam facere reiciendis consequatur officia expedita veritatis? Modi aut consectetur quae
                        consequuntur nihil voluptatum maiores rerum atque voluptas! Deleniti quasi esse blanditiis
                        consequatur facere recusandae? Iusto hic voluptas repellat incidunt mollitia.</p>
                    <div class="actions">
                        <div class="info">
                            <img src="/assets/icon/heart.svg" alt="Heart" class="heart-icon">
                            <p class="like-count">2k</p>
                            <img src="/assets/icon/eye.svg" alt="Heart" class="heart-icon">
                            <p class="view-count">4.3k</p>
                        </div>
                        <div class="action-btn">
                            <p>Read</p>
                            <img src="/assets/icon/arrow_right.svg" alt="Arrow">
                        </div>
                    </div>
                </div>
                <div class="doc-item">
                    <p class="title">Actix Template</p>
                    <div class="tags-container">
                        <p class="tag">Rust</p>
                    </div>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
                        consequuntur deleniti, blanditiis praesentium totam officiis aliquid, est recusandae veniam
                        laboriosam facere reiciendis consequatur officia expedita veritatis? Modi aut consectetur quae
                        consequuntur nihil voluptatum maiores rerum atque voluptas! Deleniti quasi esse blanditiis
                        consequatur facere recusandae? Iusto hic voluptas repellat incidunt mollitia.</p>
                    <div class="actions">
                        <div class="info">
                            <img src="/assets/icon/heart.svg" alt="Heart" class="heart-icon">
                            <p class="like-count">2k</p>
                            <img src="/assets/icon/eye.svg" alt="Heart" class="heart-icon">
                            <p class="view-count">4.3k</p>
                        </div>
                        <div class="action-btn">
                            <p>Read</p>
                            <img src="/assets/icon/arrow_right.svg" alt="Arrow">
                        </div>
                    </div>
                </div>
                <div class="doc-item">
                    <p class="title">Actix Template</p>
                    <div class="tags-container">
                        <p class="tag">Rust</p>
                    </div>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
                        consequuntur deleniti, blanditiis praesentium totam officiis aliquid, est recusandae veniam
                        laboriosam facere reiciendis consequatur officia expedita veritatis? Modi aut consectetur quae
                        consequuntur nihil voluptatum maiores rerum atque voluptas! Deleniti quasi esse blanditiis
                        consequatur facere recusandae? Iusto hic voluptas repellat incidunt mollitia.</p>
                    <div class="actions">
                        <div class="info">
                            <img src="/assets/icon/heart.svg" alt="Heart" class="heart-icon">
                            <p class="like-count">2k</p>
                            <img src="/assets/icon/eye.svg" alt="Heart" class="heart-icon">
                            <p class="view-count">4.3k</p>
                        </div>
                        <div class="action-btn">
                            <p>Read</p>
                            <img src="/assets/icon/arrow_right.svg" alt="Arrow">
                        </div>
                    </div>
                </div>
                <div class="doc-item">
                    <p class="title">Actix Template</p>
                    <div class="tags-container">
                        <p class="tag">Rust</p>
                    </div>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
                        consequuntur deleniti, blanditiis praesentium totam officiis aliquid, est recusandae veniam
                        laboriosam facere reiciendis consequatur officia expedita veritatis? Modi aut consectetur quae
                        consequuntur nihil voluptatum maiores rerum atque voluptas! Deleniti quasi esse blanditiis
                        consequatur facere recusandae? Iusto hic voluptas repellat incidunt mollitia.</p>
                    <div class="actions">
                        <div class="info">
                            <img src="/assets/icon/heart.svg" alt="Heart" class="heart-icon">
                            <p class="like-count">2k</p>
                            <img src="/assets/icon/eye.svg" alt="Heart" class="heart-icon">
                            <p class="view-count">4.3k</p>
                        </div>
                        <div class="action-btn">
                            <p>Read</p>
                            <img src="/assets/icon/arrow_right.svg" alt="Arrow">
                        </div>
                    </div>
                </div>
                <div class="doc-item">
                    <p class="title">Actix Template</p>
                    <div class="tags-container">
                        <p class="tag">Rust</p>
                    </div>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
                        consequuntur deleniti, blanditiis praesentium totam officiis aliquid, est recusandae veniam
                        laboriosam facere reiciendis consequatur officia expedita veritatis? Modi aut consectetur quae
                        consequuntur nihil voluptatum maiores rerum atque voluptas! Deleniti quasi esse blanditiis
                        consequatur facere recusandae? Iusto hic voluptas repellat incidunt mollitia.</p>
                    <div class="actions">
                        <div class="info">
                            <img src="/assets/icon/heart.svg" alt="Heart" class="heart-icon">
                            <p class="like-count">2k</p>
                            <img src="/assets/icon/eye.svg" alt="Heart" class="heart-icon">
                            <p class="view-count">4.3k</p>
                        </div>
                        <div class="action-btn">
                            <p>Read</p>
                            <img src="/assets/icon/arrow_right.svg" alt="Arrow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="browse-all-btn">
                <p>Browse All</p>
            </div>
        </div>
    </section>
    {% include "contact_me.html" %}
    {% include "footer.html" %}
    <script src="/assets/js/generics/ripple.js"></script>
</body>

</html>