<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "common.html" %}

    <title>Sabbir Hassan | Home</title>

    <link rel="stylesheet" href="/assets/css/sign_in.css">
</head>

<body>
    <section id="main">
        <img src="/assets/image/sign_in_bg.png" alt="">
        <div class="bg-col">
            <div class="top"></div>
        </div>
        <div id="form-container">
            <div id="container">
                <h1>Sign In</h1>
                <p>This is only for admin portal, to create an account contact an admin</p>
                <input type="text" placeholder="Email Address ...">
                <input type="text" placeholder="Password ...">
                <button>Sign In</button>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
    <script src="/assets/js/sign_in.js"></script>
</body>

</html>